/**
* Foundation
* ========================== */

@use "../scss/foundation/reset.scss";
@use "../scss/foundation/base";
@use "../scss/foundation/mixin";
@use "../scss/foundation/variable";

/**
* Layout
* ========================== */

@use "../scss/layout/header";
@use "../scss/layout/main";
@use "../scss/layout/sidebar";
@use "../scss/layout/footer";

/* Object
* ========================== */

/* Component ------------ */

@use "../scss/object/component/avatar";
@use "../scss/object/component/button";
@use "../scss/object/component/dialog";

/* Project ------------ */

@use "../scss/object/project/article";
@use "../scss/object/project/comments";
@use "../scss/object/project/gallery";
@use "../scss/object/project/profile";
@use "../scss/object/project/menubar";
@use "../scss/object/project/main-visual" as *;

/* Utility ------------ */

@use "../scss/object/utility/align";
@use "../scss/object/utility/display";
@use "../scss/object/utility/margin";

.p-main-visual {
  .p-pic--first {
    height: 300px;
    background-image: url(/img/main-visual1.png);
    background-size: cover;
    overflow-x: hidden;
    color: aqua;
    p {
      color: crimson;
    }
  }
}