@use '../../foundation/mixin' as mix;

.c-ordered-list--single {
   text-align: left;
   &:nth-child(2) {
    padding-left: 18px;
   }
}

.c-ordered-list--single + .c-ordered-list--single {
  margin-top: 20px;
}

.c-ordered-list--single + .c-unordered-list--single {
  margin-top: 20px;
}

.c-unordered-list--single {
  text-align: left;
  &:nth-child(5) {
   padding-left: 18px;
  }
}

.c-unordered-list--single + .c-unordered-list--single {
  margin-top: 20px;
}

