@use '../../foundation/mixin' as mix;

.p-main-visual {
  background-image: url(/img/main-visual1.png);
  @include mix.pic(285px);
  @include mix.mq(pc) {
    @include mix.pic(530px);
  }
}
.l-container--first {
  background-image: url(/img/main-visual2.png);
  @include mix.pic(642px);
}
.l-container--second {
  background-image: url(/img/main-visual3.png);
  @include mix.pic(643px);
}
.p-map__main {
  background-image: url(/img/map.svg);
  @include mix.pic(691px);
}

.p-mainvisual--archive {
  background-image: url(/img/archive\ 1.svg);
}

.c-pic__menunav__archive {
  background-image: url(/img/archive2.svg);
  @include mix.pic(471px);
  width: 50%;
}
