@use '../../foundation/mixin' as mix;

.c-table--single {
  background-color: #ffffff;
  min-height: 308px;
  width: 100%;
  border-collapse: collapse;
  .c-txt-table-head--single {
    width: 31%;
    border: solid 1px black;
    padding-left: 20px;
  }
  .c-txt-table-data--single {
    width: 69%;
    border: solid 1px black;
    padding-left: 20px;
  }


}