@use '../../foundation/mixin' as mix;

//header
.flex-container__header {
  @include mix.mq(pc) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }
}