@use '../../foundation/mixin' as mix;

//header
.l-flex-container__header {
  @include mix.mq(pc) {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
  }
}