@use '../../foundation/mixin' as mix;

//--top--
//header
.l-flex-container__header {
  @include mix.mq(pc) {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
  }
}

//--single--
//menunav
.l-flex-container--single--first {
  display: flex;
  justify-content: space-between;
  padding-bottom: 60px;
}

.l-flex-container--single--second {
  display: flex;
  justify-content: space-between;
  padding-bottom: 60px;
  .c-pic-menunav--single--medium {
    order: 2;
  }
  .c-txt-long-description-itemcard--single {
    order: 1;
  }
}

.c-txt-container__mainvisual {
  gap: 6px;
  position: absolute;
  left: 10%;
  top: 40%;
  @include mix.mq(tab) {
    display: flex;
    align-items: baseline;
  }
}