@use '../../foundation/mixin' as mix;

.p-main-visual {
  min-height: 285px;
  h1 {
    color: #fff;
    position: absolute;
    font-size: 36px;
    line-height: 1.5;
    font-weight: bold;
    top: 110px;
    left: 11%;
  }
  @include mix.mq(tab) {
    h1 {
      display: none;
    }
  }
}