@use '../../foundation/mixin' as mix;

.p-main-visual {
  min-height: 285px;
}

.p-mainvisual--archive {
  position: relative;
  background-color: black;
  @include mix.mq(pc) {
    min-height: 239px;
  }
}