@use '/scss/foundation/mixin' as *;

.p-main-visual {
  .p-pic--first {
    @include mix.pic(285px);
    background-image: url(/img/main-visual1.png);
    p {
      color: #fff;
      position: absolute;
      font-size: 36px;
      line-height: 54px;
      font-weight: bold;
      top: 100px;
      left: 60px;
    }
  }
}