@use '../../foundation/mixin' as mix;
@use '';

.p-map__main {
  min-height: 691px;
  background-color: black;
  overflow-y: hidden;
  .container--map {
    overflow: visible;
    position: relative;
    h2 {
      position: absolute;
      color: #FFFFFF;
      font-size: 22px;
      line-height: 2.5;
      font-weight: bold;
      text-align: left;
      top: 0;
      left: 10%;
      width: 80%;
      margin: 0 auto;
      margin-top: 40px;
      z-index: 20;
    }
    p.underline--map {
      position: absolute;
      border-bottom: solid 2px #FFFFFF;
      top: 80px;
      left: 10%;
      width: 55px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    p.txt--map {
      position: absolute;
      color: #FFFFFF;
      font-size: 14px;
      font-weight: normal;
      line-height: 33px;
      width: 80%;
      text-align: left;
      left: 50%;
      transform: translateX(-50%);
      z-index: 20;
      top: 120px;
      padding-bottom: 40px;
    }
    .c-colorbox {
      height: 415px;
      background-color: rgba(0,0,0,0.3);
      z-index: 10;
    }
  }
  @include mix.mq(tab) {
    min-height: 415px;
    h2 {
      font-size: 30px;
    }
  }
}