@use '../../foundation/mixin' as mix;

.p-menu-nav {
  .container__menu-nav {
    .c-menu-nav--first {
      h1.txt--waytoorder {
        @include mix.text;
      }
      h1.txt--underbar {
        @include mix.text(50px,40px);
      }
      .c-textbox--main {
        position: relative;
        top: 55%;
        width: 90%;
        margin: 0 auto;
        margin-bottom: 15px;
        background-color: rgba(247,247,247,0.5);
        h2 {
          text-align: left;
          color: #3C2A10;
          font-size: 22px;
          font-weight: bold;
          line-height: 24px;
          margin: 15px auto 15px 10px;
          padding-top: 10px;
        }
        h3 {
          text-align: left;
          color: #3C2A10;
          font-size: 16px;
          font-weight: normal;
          line-height: 23px;
          margin: 15px auto 15px 10px;
          padding-bottom: 10px;
        }
      }
    }
    .c-menu-nav--second {
      h1.txt--waytoorder {
        @include mix.text;
      }
      h1.txt--underbar {
        @include mix.text(50px,40px);
      }
      .c-textbox--main {
        position: relative;
        top: 55%;
        width: 90%;
        margin: 0 auto;
        margin-bottom: 15px;
        background-color: rgba(247,247,247,0.5);
        h2 {
          text-align: left;
          color: #3C2A10;
          font-size: 22px;
          font-weight: bold;
          line-height: 24px;
          margin: 15px auto 15px 10px;
          padding-top: 10px;
        }
        h3 {
          text-align: left;
          color: #3C2A10;
          font-size: 16px;
          font-weight: normal;
          line-height: 23px;
          margin: 15px auto 15px 10px;
          padding-bottom: 10px;
        }
      }
    }
  }
}