@use '../foundation/mixin' as mix;

@include mix.mq(pc) {
  .l-container {
    display: grid;
    grid-template-columns: 1fr 19%;
    grid-template-rows: 217px 1fr 150px;
    .l-header {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
    }
    .l-main {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 3;
    }
    .l-sidebar {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 4;
    }
    .l-footer {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: 4;
    }
  }
}

//--archive--
.l-container__menunav__archive {
  height: calc(100% / 3);
}

//--single--
.l-container-menunav--single {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 580px;
}

.l-container-menulist--menunav--single {
  padding-left: 35px;
  padding-bottom: 60px;
}