.l-sidebar {
  position: fixed;
  overflow: auto;
  z-index: 0;
  background-color: #F2EDE9;
  width: 90%;
  top: 1000;
  left: 100%;
  transition: .3s;
  .container__sidebar {
    position: relative;
  }
}

.l-sidebar.is-open {
  top: 0;
  transform:translateX(-100%);
  width: 90%;
  z-index: 1000;
}