@use '../foundation/mixin' as mix;

.l-sidebar {
  position: fixed;
  overflow: auto;
  z-index: 0;
  background-color: #F2EDE9;
  height: 100vh;
  width: 90%;
  top: 0;
  left: 100%;
  transition: .3s;
  .container__sidebar {
    position: relative;
  }
  @include mix.mq(tab) {
    width: 45%;
  }
}

.l-sidebar.is-open {
  top: 0;
  transform:translateX(-100%);
  z-index: 1000;
}